<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.lx.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/java" />
        <option name="javaModelPackage" value="com.lx.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="exchange-service" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="modelAddEqualHashCode" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="admin-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.lx.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/coin-admin/admin-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.lx.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/coin-admin/admin-service/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.lx.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/coin-admin/admin-service/src/main/java" />
                  <option name="javaServicePackage" value="com.lx.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/coin-admin/admin-service/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/coin-admin/admin-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="coin-chan">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/coin-chan/src/main/java" />
                  <option name="javaModelPacakge" value="com.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/coin-chan/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/coin-chan/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/coin-chan/src/main/java" />
                  <option name="xmlPackage" value="mapperxml" />
                  <option name="xmlPath" value="$PROJECT_DIR$/coin-chan/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="exchange-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.lx.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.lx.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.lx.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/java" />
                  <option name="javaServicePackage" value="com.lx.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="finance-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.lx.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/coin-finance/finance-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.lx.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/coin-finance/finance-service/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.lx.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/coin-finance/finance-service/src/main/java" />
                  <option name="javaServicePackage" value="com.lx.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/coin-finance/finance-service/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/coin-finance/finance-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="member-service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.lx.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/coin-member/member-service/src/main/java" />
                  <option name="javaModelPacakge" value="com.lx.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/coin-member/member-service/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.lx.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/coin-member/member-service/src/main/java" />
                  <option name="javaServicePackage" value="com.lx.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/coin-member/member-service/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/coin-member/member-service/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusStaticField" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="coin-exchange:account">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Account" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:account_detail">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AccountDetail" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:address_pool">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AddressPool" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:admin_address">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AdminAddress" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:cash_recharge">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CashRecharge" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:cash_recharge_audit_record">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CashRechargeAuditRecord" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:cash_withdraw_audit_record">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CashWithdrawAuditRecord" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:cash_withdrawals">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CashWithdrawals" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Coin" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_balance">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="CoinBalance" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_config">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="CoinConfig" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_recharge">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CoinRecharge" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_server">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CoinServer" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_type">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CoinType" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_withdraw">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CoinWithdraw" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:coin_withdraw_audit_record">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="CoinWithdrawAuditRecord" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:config">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Config" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:entrust_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="EntrustOrder" />
                  <option name="moduleName" value="exchange-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:forex_account">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ForexAccount" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:forex_account_detail">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ForexAccountDetail" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:forex_close_position_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ForexClosePositionOrder" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:forex_coin">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ForexCoin" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:forex_open_position_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="ForexOpenPositionOrder" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:market">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Market" />
                  <option name="moduleName" value="exchange-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:notice">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Notice" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sms">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Sms" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysMenu" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_privilege">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysPrivilege" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysRole" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_role_menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysRoleMenu" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_role_privilege">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysRolePrivilege" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_role_privilege_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysRolePrivilegeUser" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysUser" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_user_log">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="SysUserLog" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:sys_user_role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysUserRole" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:trade_area">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TradeArea" />
                  <option name="moduleName" value="exchange-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:turnover_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TurnoverOrder" />
                  <option name="moduleName" value="exchange-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:turnover_record">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TurnoverRecord" />
                  <option name="moduleName" value="exchange-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_account_freeze">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="UserAccountFreeze" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_address">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserAddress" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_auth_audit_record">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="UserAuthAuditRecord" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_auth_info">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserAuthInfo" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_bank">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserBank" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_coin_freeze">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="UserCoinFreeze" />
                  <option name="moduleName" value="finance-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_favorite_market">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="UserFavoriteMarket" />
                  <option name="moduleName" value="exchange-service" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_login_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserLoginLog" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:user_wallet">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="UserWallet" />
                  <option name="moduleName" value="member-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:web_config">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="WebConfig" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coin-exchange:work_issue">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="WorkIssue" />
                  <option name="moduleName" value="admin-service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useSwagger" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mappers" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/exchange-engine/exchange-service/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>